@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Space Mono", monospace;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-sans);
    background-color: #FAF9F5;
    color: #000000;
    overflow-x: hidden;
    /* #04144e */
  }
}

.cursor-blink {
  animation: blink 0.8s step-end infinite;
}

@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

/* Custom thin scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #FAF9F5;
}

::-webkit-scrollbar-thumb {
  background-color: #2b1200;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #CCFF00;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #2b1200 #FAF9F5;
}